.add-dep-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.add-dep-container1 {
  flex: 0 0 auto;
  width: 70%;
  height: var(--dl-size-size-xxlarge);
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.add-dep-text {
  align-self: center;
  margin-top: 0px;
  font-family: Comic Sans MS;
  margin-left: 0px;
}
.add-dep-container2 {
  width: auto;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.add-dep-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: flex-start;
}
.add-dep-text03 {
  font-size: 30px;
  font-family: Comic Sans MS;
  margin-left: var(--dl-space-space-halfunit);
}
.add-dep-textinput {
  width: var(--dl-size-size-xxlarge);
  height: 70%;
  text-align: center;
  font-family: Arial;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
}
.add-dep-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
.add-dep-text04 {
  font-size: 30px;
  font-family: Comic Sans MS;
  margin-left: var(--dl-space-space-halfunit);
}
.add-dep-textinput1 {
  width: 329px;
  height: 70%;
  text-align: center;
  font-family: Arial;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
}
.add-dep-container5 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  justify-content: center;
}
.add-dep-form {
  width: auto;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.add-dep-button {
  color: rgb(0, 0, 0);
  width: var(--dl-size-size-large);
  height: auto;
  padding: 4px;
  font-size: 16px;
  align-self: center;
  margin-top: 0px;
  text-align: center;
  transition: 0.3s;
  font-family: Comic Sans MS;
  border-radius: 20px;
  background-color: #cacaca;
}
.add-dep-button:hover {
  background-color: rgba(0, 62, 179, 0.43);
}
.add-dep-button:active {
  border-radius: 20px;
  background-color: var(--dl-color-primary-300);
}
.add-dep-form1 {
  width: auto;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.add-dep-button1 {
  color: rgb(0, 0, 0);
  width: var(--dl-size-size-large);
  height: auto;
  padding: 4px;
  font-size: 16px;
  align-self: center;
  margin-top: 0px;
  text-align: center;
  transition: 0.3s;
  font-family: Comic Sans MS;
  border-radius: 20px;
  background-color: #cacaca;
}
.add-dep-button1:hover {
  background-color: rgba(0, 62, 179, 0.43);
}
.add-dep-button1:active {
  border-radius: 20px;
  background-color: var(--dl-color-primary-300);
}
